In [1]:
import pandas as pd
import numpy as np

In [2]:
table = "NTH Soil data 2005_PF.xlsx"

In [3]:
#run this across each sheet of the file
table_df = pd.read_excel(table, sheet_name = 6)
table_df

,Sample ID,TB-N144,Unnamed: 2,Unnamed: 3,TB-N145,Unnamed: 5,Unnamed: 6,TB-N146,Unnamed: 8,Unnamed: 9,...,Unnamed: 24,TB-N150B,Unnamed: 26,Unnamed: 27,TB-N151,Unnamed: 29,Unnamed: 30,TB-N151.1,Unnamed: 32,Unnamed: 33
0,Sample Depth (ft bgs),3-5,NaN,NaN,0.5-2.5,NaN,NaN,3-5,NaN,NaN,...,NaN,2.5-5,NaN,NaN,5.5-7.5,NaN,NaN,10.5-11,NaN,NaN
1,Collection Date,2005-09-28 00:00:00,NaN,NaN,2005-09-28 00:00:00,NaN,NaN,2005-09-28 00:00:00,NaN,NaN,...,NaN,2005-09-29 00:00:00,NaN,NaN,2005-09-29 00:00:00,NaN,NaN,2005-09-29 00:00:00,NaN,NaN
2,VOC Analysis Date,2005-10-07 00:00:00,NaN,NaN,2005-10-07 00:00:00,NaN,NaN,NT,NaN,NaN,...,NaN,2005-10-07 00:00:00,NaN,NaN,NT,NaN,NaN,2005-10-07 00:00:00,NaN,NaN
3,VOC Extraction Date,2005-09-28 00:00:00,NaN,NaN,2005-09-28 00:00:00,NaN,NaN,NT,NaN,NaN,...,NaN,2005-09-29 00:00:00,NaN,NaN,NT,NaN,NaN,2005-09-29 00:00:00,NaN,NaN
4,VOC Analytical Method,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,NT,NaN,NaN,...,NaN,SW846 8260B,NaN,NaN,NT,NaN,NaN,SW846 8260B,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,NT = not tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,PCB = polychlorinated biphenyl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,TB = test boring,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Âµg/kg = microgram per kilogram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,VOC = volatile organic compound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#replace - with NA for dropping purposes
table_df = table_df.replace('â',np.nan)

#fix the unnamed columns

for i in list(range(1,len(table_df.columns),3)):
    
    #rename columns
    newCol1 = str(table_df.columns.tolist()[i])
    newCol2 = str(table_df.columns.tolist()[i])
    table_df.iat[0,i+1]  = table_df.iat[0,i]
    table_df.iat[0,i+2]  = table_df.iat[0,i]
    table_df.iat[1,i+1]  = table_df.iat[1,i]
    table_df.iat[1,i+2]  = table_df.iat[1,i]
    table_df.iat[2,i+1]  = table_df.iat[2,i]
    table_df.iat[2,i+2]  = table_df.iat[2,i]
    table_df.iat[3,i+1]  = table_df.iat[3,i]
    table_df.iat[3,i+2]  = table_df.iat[3,i]
    table_df = table_df.rename(columns = {table_df.columns.to_list()[i+1]:newCol1})
    table_df = table_df.rename(columns = {table_df.columns.to_list()[i+2]:newCol2})
   # print(i)
table_df

,Sample ID,TB-N144,TB-N144,TB-N144,TB-N145,TB-N145,TB-N145,TB-N146,TB-N146,TB-N146,...,TB-N149,TB-N150B,TB-N150B,TB-N150B,TB-N151,TB-N151,TB-N151,TB-N151.1,TB-N151.1,TB-N151.1
0,Sample Depth (ft bgs),3-5,3-5,3-5,0.5-2.5,0.5-2.5,0.5-2.5,3-5,3-5,3-5,...,0.5-2.5,2.5-5,2.5-5,2.5-5,5.5-7.5,5.5-7.5,5.5-7.5,10.5-11,10.5-11,10.5-11
1,Collection Date,2005-09-28 00:00:00,2005-09-28 00:00:00,2005-09-28 00:00:00,2005-09-28 00:00:00,2005-09-28 00:00:00,2005-09-28 00:00:00,2005-09-28 00:00:00,2005-09-28 00:00:00,2005-09-28 00:00:00,...,2005-09-26 00:00:00,2005-09-29 00:00:00,2005-09-29 00:00:00,2005-09-29 00:00:00,2005-09-29 00:00:00,2005-09-29 00:00:00,2005-09-29 00:00:00,2005-09-29 00:00:00,2005-09-29 00:00:00,2005-09-29 00:00:00
2,VOC Analysis Date,2005-10-07 00:00:00,2005-10-07 00:00:00,2005-10-07 00:00:00,2005-10-07 00:00:00,2005-10-07 00:00:00,2005-10-07 00:00:00,NT,NT,NT,...,2005-10-02 00:00:00,2005-10-07 00:00:00,2005-10-07 00:00:00,2005-10-07 00:00:00,NT,NT,NT,2005-10-07 00:00:00,2005-10-07 00:00:00,2005-10-07 00:00:00
3,VOC Extraction Date,2005-09-28 00:00:00,2005-09-28 00:00:00,2005-09-28 00:00:00,2005-09-28 00:00:00,2005-09-28 00:00:00,2005-09-28 00:00:00,NT,NT,NT,...,2005-09-26 00:00:00,2005-09-29 00:00:00,2005-09-29 00:00:00,2005-09-29 00:00:00,NT,NT,NT,2005-09-29 00:00:00,2005-09-29 00:00:00,2005-09-29 00:00:00
4,VOC Analytical Method,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,NT,NaN,NaN,...,NaN,SW846 8260B,NaN,NaN,NT,NaN,NaN,SW846 8260B,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,NT = not tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,PCB = polychlorinated biphenyl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,TB = test boring,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Âµg/kg = microgram per kilogram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,VOC = volatile organic compound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#isolate VOC data
voc_df = table_df.iloc[:24]

##################################################
#transpose it
voc_df = voc_df.transpose()
#make the first row our column titles
voc_df.columns=voc_df.iloc[0]
#drop the duplicate row
voc_df = voc_df.tail(-1)
#drop samples with no detections
voc_df = voc_df.dropna(thresh=4)
##################################################

voc_df.index.name = None

# ###########################################

# #drop VOC details for mergining
voc_df = voc_df.drop('VOC Analysis Date',axis=1)
voc_df = voc_df.drop('VOC Analytical Method',axis=1)
voc_df = voc_df.drop('VOC Extraction Date',axis=1)
voc_df = voc_df.drop('VOCs',axis=1) # bring back for explanation if necessary

#pull sample id out of index
voc_df['Sample ID'] = voc_df.index

#shift column sample ID to first position
first_column = voc_df.pop('Sample ID')
#insert column using insert(position,column_name,first_column) function
voc_df.insert(0, 'Sample ID', first_column)




#drop duplicates and keep the first appearance because those are the detections / tests
voc_df = voc_df.drop_duplicates(subset=['Sample ID'],keep="first")

#split sample depth range into two separate columns
voc_df[['Start_Depth','End_Depth']] = voc_df.get('Sample Depth (ft bgs)').str.split("-",expand=True)

#shift depths to front of df 
first_column = voc_df.pop('Start_Depth')
second_column = voc_df.pop('End_Depth')
  
# insert column using insert(position,column_name,
# first_column) function
voc_df.insert(1, 'Start_Depth', first_column)
voc_df.insert(2, 'End_Depth', second_column)

#drop sample ID and depth range
voc_df = voc_df.drop(['Sample ID'], axis=1)
voc_df = voc_df.drop(['Sample Depth (ft bgs)'], axis=1)

#rename voc columns
voc_df = voc_df.rename(columns = {'Collection Date':'Sample_Date'})

voc_df
#change format of date to eliminate the time?

Sample ID,Start_Depth,End_Depth,Sample_Date,Benzene,n-Butylbenzene,sec-Butylbenzene,Chlorobenzene,"1,1-Dichloroethane","cis-1,2-Dichloroethene",Ethylbenzene,...,Naphthalene,n-Propylbenzene,Tetrachloroethylene,Toluene,Trichloroethene,"1,2,4-Trimethylbenzene","1,3,5-Trimethylbenzene",Xylenes,BNA Extraction Date,BNA Analysis Date
TB-N144,3,5,2005-09-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-10-05 00:00:00,2005-10-08 00:00:00
TB-N145,0.5,2.5,2005-09-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-10-05 00:00:00,2005-10-07 00:00:00
TB-N146,3,5,2005-09-28 00:00:00,NT,NT,NT,NT,NT,NT,NT,...,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TB-N146.1,3,5,2005-09-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-09-30 00:00:00,2005-10-05 00:00:00
TB-N147A,5.5,7.5,2005-09-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-09-30 00:00:00,2005-10-05 00:00:00
TB-N148,0.5,2.5,2005-09-29 00:00:00,NT,NT,NT,NT,NT,NT,NT,...,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TB-N148.1,3,5,2005-09-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-10-06 00:00:00,2005-10-07 00:00:00
TB-N149,0.5,2.5,2005-09-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180,2005-09-30 00:00:00,2005-10-05 00:00:00
TB-N150B,2.5,5,2005-09-29 00:00:00,NaN,490,290,NaN,NaN,NaN,200,...,11000,420,NaN,NaN,NaN,5600,2600,1500,2005-10-06 00:00:00,2005-10-08 00:00:00
TB-N151,5.5,7.5,2005-09-29 00:00:00,NT,NT,NT,NT,NT,NT,NT,...,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TB-N151.1,10.5,11,2005-09-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,53,...,NaN,NaN,NaN,NaN,92,NaN,NaN,380,2005-10-06 00:00:00,2005-10-08 00:00:00

In [21]:
voc_df = voc_df.replace(np.nan,0)
voc_df['Benzene '] = np.where((voc_df['Benzene '] == 50) |(voc_df['Benzene '] == 0) , '50 U' , voc_df['Benzene '] )
voc_df['Benzene '].str.split(" ",1)[1]

['50', 'U']

In [8]:
voc_df['Benzene '].str.split(" ")

TB-N144       NaN
TB-N145       NaN
TB-N146      [NT]
TB-N146.1     NaN
TB-N147A      NaN
TB-N148      [NT]
TB-N148.1     NaN
TB-N149       NaN
TB-N150B      NaN
TB-N151      [NT]
TB-N151.1     NaN
Name: Benzene , dtype: object

In [147]:
#adjust voc_df for leapfrog input
#reformatting the original combined df
lf_voc = voc_df.replace(np.nan,0)

#vocs

lf_voc['Benzene '] = np.where((lf_voc['Benzene '] == 50) |(lf_voc['Benzene '] == 0) , '50 U' , lf_voc['Benzene '] )
lf_voc['Benzene LF'] = np.where(lf_voc['Benzene '] == '50 U' , 5 , lf_voc['Benzene '] )

lf_voc['N-Butylbenzene'] = np.where((lf_voc['N-Butylbenzene'] == 50) |(lf_voc['N-Butylbenzene'] == 0) , '50 U' , lf_voc['N-Butylbenzene'] )
lf_voc['N-Butylbenzene LF'] = np.where(lf_voc['N-Butylbenzene'] == '50 U' , 5 , lf_voc['N-Butylbenzene'] )

lf_voc['sec-Butylbenzene'] = np.where((lf_voc['sec-Butylbenzene'] == 50) |(lf_voc['sec-Butylbenzene'] == 0) , '50 U' , lf_voc['sec-Butylbenzene'] )
lf_voc['sec-Butylbenzene LF'] = np.where(lf_voc['sec-Butylbenzene'] == '50 U' , 5 , lf_voc['sec-Butylbenzene'] )

lf_voc['Tert-Butylbenzene'] = np.where((lf_voc['tert-Butylbenzene'] == 50) |(lf_voc['tert-Butylbenzene'] == 0) , '50 U' , lf_voc['tert-Butylbenzene'] )
lf_voc['Tert-Butylbenzene LF'] = np.where(lf_voc['tert-Butylbenzene'] == '50 U' , 5 , lf_voc['tert-Butylbenzene'] )

lf_voc['Carbon Disulfide'] = np.where((lf_voc['Carbon Disulfide'] == 250) |(lf_voc['Carbon Disulfide'] == 0) , '250 U' , lf_voc['Carbon Disulfide'] )
lf_voc['Carbon Disulfide LF'] = np.where(lf_voc['Carbon Disulfide'] == '250 U' , 25 , lf_voc['Carbon Disulfide'] )

lf_voc['Chlorobenzene'] = np.where((lf_voc['Chlorobenzene'] == 50) |(lf_voc['Chlorobenzene'] == 0) , '50 U' , lf_voc['Chlorobenzene'] )
lf_voc['Chlorobenzene LF'] = np.where(lf_voc['Chlorobenzene'] == '50 U' , 5 , lf_voc['Chlorobenzene'] )

lf_voc['1,1-Dichloroethane'] = np.where((lf_voc['1,1-Dichloroethane'] == 50) |(lf_voc['1,1-Dichloroethane'] == 0) , '50 U' , lf_voc['1,1-Dichloroethane'] )
lf_voc['1,1-Dichloroethane LF'] = np.where(lf_voc['1,1-Dichloroethane'] == '50 U' , 5 , lf_voc['1,1-Dichloroethane'] )

lf_voc['cis-1,2-Dichloroethene'] = np.where((lf_voc['cis-1,2-Dichloroethene'] == 50) |(lf_voc['cis-1,2-Dichloroethene'] == 0) , '50 U' , lf_voc['cis-1,2-Dichloroethene'] )
lf_voc['cis-1,2-Dichloroethene LF'] = np.where(lf_voc['cis-1,2-Dichloroethene'] == '50 U' , 5 , lf_voc['cis-1,2-Dichloroethene'] )

lf_voc['Ethylbenzene'] = np.where((lf_voc['Ethylbenzene'] == 50) |(lf_voc['Ethylbenzene'] == 0) , '50 U' , lf_voc['Ethylbenzene'] )
lf_voc['Ethylbenzene LF'] = np.where(lf_voc['Ethylbenzene'] == '50 U' , 5 , lf_voc['Ethylbenzene'] )

lf_voc['Isopropylbenzene'] = np.where((lf_voc['Isopropylbenzene'] == 250) | (lf_voc['Isopropylbenzene'] == 0) , '250 U' , lf_voc['Isopropylbenzene'] )
lf_voc['Isopropylbenzene LF'] = np.where(lf_voc['Isopropylbenzene'] == '250 U' , 25 , lf_voc['Isopropylbenzene'] )

lf_voc['Naphthalene'] = np.where((lf_voc['Naphthalene'] == 330) | (lf_voc['Naphthalene'] == 0) , '330 U' , lf_voc['Naphthalene'] )
lf_voc['Naphthalene LF'] = np.where(lf_voc['Naphthalene'] == '330 U' , 33 , lf_voc['Naphthalene'] )

lf_voc['n-Propylbenzene'] = np.where((lf_voc['n-Propylbenzene'] == 100) | (lf_voc['n-Propylbenzene'] == 0) , '100 U' , lf_voc['n-Propylbenzene'] )
lf_voc['n-Propylbenzene LF'] = np.where(lf_voc['n-Propylbenzene'] == '100 U' , 10 , lf_voc['n-Propylbenzene'] )

lf_voc['Tetrachloroethylene'] = np.where((lf_voc['Tetrachloroethylene'] == 50) | (lf_voc['Tetrachloroethylene'] == 0) , '50 U' , lf_voc['Tetrachloroethylene'] )
lf_voc['Tetrachloroethylene LF'] = np.where(lf_voc['Tetrachloroethylene'] == '50 U' , 5 , lf_voc['Tetrachloroethylene'] )

lf_voc['Toluene'] = np.where((lf_voc['Toluene'] == 100) | (lf_voc['Toluene'] == 0) , '100 U' , lf_voc['Toluene'] )
lf_voc['Toluene LF'] = np.where(lf_voc['Toluene'] == '100 U' , 10 , lf_voc['Toluene'] )

lf_voc['Trichloroethene'] = np.where((lf_voc['Trichloroethene'] == 50) | (lf_voc['Trichloroethene'] == 0) , '50 U' , lf_voc['Trichloroethene'] )
lf_voc['Trichloroethene LF'] = np.where(lf_voc['Trichloroethene'] == '50 U' , 5 , lf_voc['Trichloroethene'] )

lf_voc['1,2,4-Trimethylbenzene'] = np.where((lf_voc['1,2,4-Trimethylbenzene'] == 100) | (lf_voc['1,2,4-Trimethylbenzene'] == 0) , '100 U' , lf_voc['1,2,4-Trimethylbenzene'] )
lf_voc['1,2,4-Trimethylbenzene LF'] = np.where(lf_voc['1,2,4-Trimethylbenzene'] == '100 U' , 10 , lf_voc['1,2,4-Trimethylbenzene'] )

lf_voc['1,3,5-Trimethylbenzene'] = np.where((lf_voc['1,3,5-Trimethylbenzene'] == 100) | (lf_voc['1,3,5-Trimethylbenzene'] == 0) , '100 U' , lf_voc['1,3,5-Trimethylbenzene'] )
lf_voc['1,3,5-Trimethylbenzene LF'] = np.where(lf_voc['1,3,5-Trimethylbenzene'] == '100 U' , 10 , lf_voc['1,3,5-Trimethylbenzene'] )

lf_voc['Xylene'] = np.where((lf_voc['Xylene'] == 150) | (lf_voc['Xylene'] == 0) , '150 U' , lf_voc['Xylene'] )
lf_voc['Xylene LF'] = np.where(lf_voc['Xylene'] == '150 U' , 15 , lf_voc['Xylene'] )

lf_voc

Sample ID,Start_Depth,End_Depth,Sample_Date,Benzene,N-Butylbenzene,sec-Butylbenzene,tert-Butylbenzene,Carbon Disulfide,Chlorobenzene,"1,1-Dichloroethane",...,Ethylbenzene LF,Isopropylbenzene LF,Naphthalene LF,n-Propylbenzene LF,Tetrachloroethylene LF,Toluene LF,Trichloroethene LF,"1,2,4-Trimethylbenzene LF","1,3,5-Trimethylbenzene LF",Xylene LF
TP-41,1,3,2005-09-27,50 U,50 U,50 U,0,250 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TP-42,0,2,2005-09-27,NT,NT,NT,NT,NT,NT,NT,...,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TP-42.1,2,4,2005-09-27,50 U,260,94,0,250 U,50 U,50 U,...,210,25,4200,150,5,110,5,1800,420,1200
TP-44,0,3,2005-09-23,50 U,50 U,50 U,0,250 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TP-46,2,5,2005-09-23,50 U,50 U,50 U,0,250 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TP-47,7.5,9,2005-09-26,50 U,50 U,50 U,0,250 U,50 U,50 U,...,5,25,540,10,5,10,400,110,10,260
TP-48,3,7,2005-09-26,50 U,50 U,50 U,0,250 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TP-49,2,14,2005-09-23,50 U,50 U,50 U,0,250 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TP-51,2,10,2005-09-23,50 U,220,130,0,250 U,50 U,50 U,...,660,25,500,150,5,160,160,980,10,2500
TP-52,6,11.5,2005-09-24,50 U,230,180,0,250 U,50 U,50 U,...,62,25,1400,160,5,180,5,150,10,290
TP-53,2.5,13,2005-09-27,92,120,120,0,250 U,50 U,50 U,...,370,25,430,160,5,130,52,350,10,1300
TP-54,3,12,2005-09-23,50 U,50 U,50 U,0,250 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TP-55,0,3,2005-09-24,50 U,50 U,50 U,0,250 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15

In [148]:
#make the BNA df
BNA_df_1 = table_df.iloc[0:1]
#pg 101 is 24:45
BNA_df_2 = table_df.iloc[24:45]
BNA_df = pd.concat([BNA_df_1,BNA_df_2])
#transpose it
BNA_df = BNA_df.transpose()
#make the first row our column titles
BNA_df.columns=BNA_df.iloc[0]
#drop the duplicate row
BNA_df = BNA_df.tail(-1)
#drop BNA details for mergining
BNA_df = BNA_df.drop('BNA Extraction Date',axis=1)
BNA_df = BNA_df.drop('BNA Analysis Date',axis=1)
BNA_df = BNA_df.drop('BNA Analytical Method',axis=1)
BNA_df = BNA_df.drop(['Sample Depth (ft bgs)'], axis=1)
#BNA_df = BNA_df.drop('BNAs (Âµg/kg)',axis=1) - keep for explanation
#drop samples with no detections
BNA_df = BNA_df.dropna(thresh=3)


#pull sample id out of index
BNA_df['Sample ID'] = BNA_df.index

#shift column sample ID to first position
first_column = BNA_df.pop('Sample ID')
#insert column using insert(position,column_name,first_column) function
BNA_df.insert(0, 'Sample ID', first_column)

#save detections
BNA_df = BNA_df.drop_duplicates(subset=['Sample ID'], keep="first")

#drop sample ID since its in index
BNA_df = BNA_df.drop(['Sample ID'], axis=1)

BNA_df

Sample ID,BNAs,Benzo(a)anthracene,Benzo(b)fluoranthene,Benzo(a)pyrene,"Benzo(g,h,i)perylene",Benzo(k)fluoranthene,Chrysene,2-Cloronaphthalene,"2,4-Dimethylphenol",Di-n-octyl phthalate,Fluoranthene,"Indeno(1,2,3-cd)pyrene",2-Methylnaphthalene,Bis(2-ethylhexyl)phthalate,Phenol,Di-n-butyl phthalate,Phenanthrene,Pyrene
TP-41,MDL (Âµg/kg),1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
TP-42,Âµg/kg,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TP-42.1,Âµg/kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3800,NaN,NaN,1700,NaN,NaN,4300,3600
TP-44,MDL (Âµg/kg),1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
TP-46,Âµg/kg,3100,NaN,NaN,NaN,NaN,3900,NaN,NaN,NaN,3900,NaN,NaN,NaN,NaN,NaN,NaN,6600
TP-47,Âµg/kg,2100,2900,2100,NaN,NaN,2100,NaN,NaN,NaN,4200,NaN,NaN,NaN,NaN,NaN,3300,4400
TP-48,MDL (Âµg/kg),330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330
TP-49,Âµg/kg,NaN,NaN,NaN,NaN,2000,NaN,NaN,NaN,NaN,1900,NaN,NaN,NaN,NaN,NaN,NaN,2100
TP-51,Âµg/kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1700,NaN,NaN,NaN,NaN,NaN,NaN,1700
TP-52,Âµg/kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900,NaN,1700,NaN,NaN,NaN,2400,1700
TP-53,MDL (Âµg/kg),1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
TP-54,MDL (Âµg/kg),1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
TP-55,MDL (Âµg/kg),1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700

In [149]:
#make the leapfrog inputs for BNA
lf_BNA = BNA_df.transpose()
#replace nan w zero
lf_BNA = lf_BNA.replace(np.nan,0)



#isolate the results
lf_BNA = lf_BNA.iloc[1:]

#fix column TP-42.1, 46, 47, 49, 51, and 52 
lf_BNA['TP-42.1'] = np.where(lf_BNA['TP-42.1']>0, lf_BNA['TP-42.1'],'1700 U')
lf_BNA['TP-46'] = np.where(lf_BNA['TP-46']>0, lf_BNA['TP-46'],'1700 U')
lf_BNA['TP-47'] = np.where(lf_BNA['TP-47']>0, lf_BNA['TP-47'],'1700 U')
lf_BNA['TP-49'] = np.where(lf_BNA['TP-49']>0, lf_BNA['TP-49'],'1700 U')
lf_BNA['TP-51'] = np.where(lf_BNA['TP-51']>0, lf_BNA['TP-51'],'1700 U')
lf_BNA['TP-52'] = np.where(lf_BNA['TP-52']>0, lf_BNA['TP-52'],'1700 U')

#add U to the rest of the columns for non-detects
lf_BNA['TP-41'] = np.where(lf_BNA['TP-41']==1700,'1700 U',lf_BNA['TP-41'])
lf_BNA['TP-44'] = np.where(lf_BNA['TP-44']==1700,'1700 U',lf_BNA['TP-44'])
lf_BNA['TP-48'] = np.where(lf_BNA['TP-48']==330,'330 U',lf_BNA['TP-48'])
lf_BNA['TP-53'] = np.where(lf_BNA['TP-53']==1700,'1700 U',lf_BNA['TP-53'])
lf_BNA['TP-54'] = np.where(lf_BNA['TP-54']==1700,'1700 U',lf_BNA['TP-54'])
lf_BNA['TP-55'] = np.where(lf_BNA['TP-55']==1700,'1700 U',lf_BNA['TP-55'])

#flip for merging
lf_BNA = lf_BNA.transpose()

#add lf values for BNAs

#for table 7
#change MDLs to match data table
lf_BNA['Benzo(a)anthracene LF'] = np.where(lf_BNA['Benzo(a)anthracene']=='1700 U', 170 ,lf_BNA['Benzo(a)anthracene'])
lf_BNA['Benzo(a)anthracene LF'] = np.where(lf_BNA['Benzo(a)anthracene']=='330 U', 33 ,lf_BNA['Benzo(a)anthracene'])

lf_BNA['Benzo(b)fluoranthene LF'] = np.where(lf_BNA['Benzo(b)fluoranthene']=='1700 U', 170 ,lf_BNA['Benzo(b)fluoranthene'])
lf_BNA['Benzo(b)fluoranthene LF'] = np.where(lf_BNA['Benzo(b)fluoranthene']=='330 U', 33 ,lf_BNA['Benzo(b)fluoranthene'])

lf_BNA['Benzo(g,h,i)perylene LF'] = np.where(lf_BNA['Benzo(g,h,i)perylene']=='1700 U', 170 ,lf_BNA['Benzo(g,h,i)perylene'])
lf_BNA['Benzo(g,h,i)perylene LF'] = np.where(lf_BNA['Benzo(g,h,i)perylene LF']=='330 U', 33 ,lf_BNA['Benzo(g,h,i)perylene LF'])

lf_BNA['Benzo(a)pyrene LF'] = np.where(lf_BNA['Benzo(a)pyrene']=='1700 U', 170 ,lf_BNA['Benzo(a)pyrene'])
lf_BNA['Benzo(a)pyrene LF'] = np.where(lf_BNA['Benzo(a)pyrene']=='330 U', 33 ,lf_BNA['Benzo(a)pyrene'])

lf_BNA['Benzo(k)fluoranthene LF'] = np.where(lf_BNA['Benzo(k)fluoranthene']=='1700 U', 170 ,lf_BNA['Benzo(k)fluoranthene'])
lf_BNA['Benzo(k)fluoranthene LF'] = np.where(lf_BNA['Benzo(k)fluoranthene']=='330 U', 33 ,lf_BNA['Benzo(k)fluoranthene'])

lf_BNA['Chrysene LF'] = np.where(lf_BNA['Chrysene']=='1700 U', 170 ,lf_BNA['Chrysene'])
lf_BNA['Chrysene LF'] = np.where(lf_BNA['Chrysene']=='330 U', 33 ,lf_BNA['Chrysene'])

lf_BNA['2-Cloronaphthalene LF'] = np.where(lf_BNA['2-Cloronaphthalene']=='1700 U', 170 ,lf_BNA['2-Cloronaphthalene'])
lf_BNA['2-Cloronaphthalene LF'] = np.where(lf_BNA['2-Cloronaphthalene']=='330 U', 33 ,lf_BNA['2-Cloronaphthalene'])

lf_BNA['2,4-Dimethylphenol LF'] = np.where(lf_BNA['2,4-Dimethylphenol']=='1700 U', 170 ,lf_BNA['2,4-Dimethylphenol'])
lf_BNA['2,4-Dimethylphenol LF'] = np.where(lf_BNA['2,4-Dimethylphenol']=='330 U', 33 ,lf_BNA['2,4-Dimethylphenol'])

lf_BNA['Di-n-octyl phthalate LF'] = np.where(lf_BNA['Di-n-octyl phthalate']=='1700 U', 170 ,lf_BNA['Di-n-octyl phthalate'])
lf_BNA['Di-n-octyl phthalate LF'] = np.where(lf_BNA['Di-n-octyl phthalate']=='330 U', 33 ,lf_BNA['Di-n-octyl phthalate'])

lf_BNA['Fluoranthene LF'] = np.where(lf_BNA['Fluoranthene']=='1700 U', 170 ,lf_BNA['Fluoranthene'])
lf_BNA['Fluoranthene LF'] = np.where(lf_BNA['Fluoranthene']=='330 U', 33 ,lf_BNA['Fluoranthene'])

lf_BNA['Indeno(1,2,3-cd)pyrene LF'] = np.where(lf_BNA['Indeno(1,2,3-cd)pyrene']=='1700 U', 170 ,lf_BNA['Indeno(1,2,3-cd)pyrene'])
lf_BNA['Indeno(1,2,3-cd)pyrene LF'] = np.where(lf_BNA['Indeno(1,2,3-cd)pyrene']=='330 U', 33 ,lf_BNA['Indeno(1,2,3-cd)pyrene'])

lf_BNA['2-Methylnaphthalene LF'] = np.where(lf_BNA['2-Methylnaphthalene']=='1700 U', 170 ,lf_BNA['2-Methylnaphthalene'])
lf_BNA['2-Methylnaphthalene LF'] = np.where(lf_BNA['2-Methylnaphthalene']=='330 U', 33 ,lf_BNA['2-Methylnaphthalene'])

lf_BNA['Bis(2-ethylhexyl)phthalate LF'] = np.where(lf_BNA['Bis(2-ethylhexyl)phthalate']=='1700 U', 170 ,lf_BNA['Bis(2-ethylhexyl)phthalate'])
lf_BNA['Bis(2-ethylhexyl)phthalate LF'] = np.where(lf_BNA['Bis(2-ethylhexyl)phthalate']=='330 U', 33 ,lf_BNA['Bis(2-ethylhexyl)phthalate'])

lf_BNA['Phenol LF'] = np.where(lf_BNA['Phenol']=='1700 U', 170 ,lf_BNA['Phenol'])
lf_BNA['Phenol LF'] = np.where(lf_BNA['Phenol']=='330 U', 33 ,lf_BNA['Phenol'])

lf_BNA['Di-n-butyl phthalate LF'] = np.where(lf_BNA['Di-n-butyl phthalate']=='1700 U', 170 ,lf_BNA['Di-n-butyl phthalate'])
lf_BNA['Di-n-butyl phthalate LF'] = np.where(lf_BNA['Di-n-butyl phthalate']=='330 U', 33 ,lf_BNA['Di-n-butyl phthalate'])

lf_BNA['Phenanthrene LF'] = np.where(lf_BNA['Phenanthrene']=='1700 U', 170 ,lf_BNA['Phenanthrene'])
lf_BNA['Phenanthrene LF'] = np.where(lf_BNA['Phenanthrene']=='330 U', 33 ,lf_BNA['Phenanthrene'])

lf_BNA['Pyrene LF'] = np.where(lf_BNA['Pyrene']=='1700 U', 170 ,lf_BNA['Pyrene'])
lf_BNA['Pyrene LF'] = np.where(lf_BNA['Pyrene']=='330 U', 33 ,lf_BNA['Pyrene'])

lf_BNA

Sample ID,Benzo(a)anthracene,Benzo(b)fluoranthene,Benzo(a)pyrene,"Benzo(g,h,i)perylene",Benzo(k)fluoranthene,Chrysene,2-Cloronaphthalene,"2,4-Dimethylphenol",Di-n-octyl phthalate,Fluoranthene,...,"2,4-Dimethylphenol LF",Di-n-octyl phthalate LF,Fluoranthene LF,"Indeno(1,2,3-cd)pyrene LF",2-Methylnaphthalene LF,Bis(2-ethylhexyl)phthalate LF,Phenol LF,Di-n-butyl phthalate LF,Phenanthrene LF,Pyrene LF
TP-41,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U
TP-42,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,...,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TP-42.1,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,3800,...,1700 U,1700 U,3800,1700 U,1700 U,1700,1700 U,1700 U,4300,3600
TP-44,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U
TP-46,3100,1700 U,1700 U,1700 U,1700 U,3900,1700 U,1700 U,1700 U,3900,...,1700 U,1700 U,3900,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,6600
TP-47,2100,2900,2100,1700 U,1700 U,2100,1700 U,1700 U,1700 U,4200,...,1700 U,1700 U,4200,1700 U,1700 U,1700 U,1700 U,1700 U,3300,4400
TP-48,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,...,33,33,33,33,33,33,33,33,33,33
TP-49,1700 U,1700 U,1700 U,1700 U,2000,1700 U,1700 U,1700 U,1700 U,1900,...,1700 U,1700 U,1900,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,2100
TP-51,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700,...,1700 U,1700 U,1700,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700
TP-52,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1900,...,1700 U,1700 U,1900,1700 U,1700,1700 U,1700 U,1700 U,2400,1700
TP-53,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U
TP-54,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U
TP-55,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U

In [150]:
#make the metals df
metals_df_1 = table_df.iloc[0:1]
metals_df_2 = table_df.iloc[45:61]
metals_df = pd.concat([metals_df_1,metals_df_2])
# #transpose it
metals_df = metals_df.transpose()
# #make the first row our column titles
metals_df.columns=metals_df.iloc[0]
# #drop the duplicate row
metals_df = metals_df.tail(-1)
#drop metals details for merging
metals_df = metals_df.drop('Metals Analysis Date',axis=1) 
metals_df = metals_df.drop('Analytical Method',axis=1)
metals_df = metals_df.drop('Metals',axis=1) #- keep for explanation
# #drop samples with no detections
metals_df = metals_df.dropna(thresh=2)

#pull sample id out of index
metals_df['Sample ID'] = metals_df.index
#shift column sample ID to first position
first_column = metals_df.pop('Sample ID')
#insert column using insert(position,column_name,first_column) function
metals_df.insert(0, 'Sample ID', first_column)

#drop samples with no detections
metals_df = metals_df.drop_duplicates(subset=['Sample ID'], keep="first")

#drop informational columns for merging
metals_df = metals_df.drop(['Sample ID'], axis=1)
metals_df = metals_df.drop(['Sample Depth (ft bgs)'], axis=1)

############################################
metals_df

Sample ID,Arsenic,Barium,Cadmium,Chromium,Chromium IV,"Lead, total (calculated)","Lead, fine fraction","Lead, coarse fraction",Manganese,Mercury,Nickel,Vanadium,Zinc
TP-41,6500,100000,640,930000,4900,65200,99000,64400,18000000,NaN,47000,290000,100000
TP-42,3900,140000,1200,500000,NaN,144000,334000,136000,11000000,150,34000,200000,730000
TP-42.1,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TP-44,27000,82000,1400,190000,NaN,286000,309000,275000,11000000,90,57000,96000,2200000
TP-46,7200,200000,1100,130000,NaN,232000,320000,200000,6500000,240,29000,58000,240000
TP-47,4200,110000,2400,87000,NaN,389000,536000,368000,400000,760,63000,9600,220000
TP-48,3400,14000,140,5200,NaN,6900,33600,6230,190000,NaN,6300,10000,89000
TP-49,8300,160000,1800,470000,NaN,188000,241000,177000,6100000,200,61000,140000,190000
TP-51,6200,190000,1900,85000,NaN,232000,305000,215000,900000,420,100000,11000,290000
TP-52,4800,660000,2200,72000,NaN,596000,404000,614000,970000,530,63000,12000,220000
TP-53,5800,190000,1300,42000,NaN,47200,70600,42200,610000,230,49000,9000,150000
TP-54,6700,190000,2400,330000,NaN,276000,359000,261000,8200000,510,98000,75000,2000000
TP-55,6600,110000,740,270000,NaN,1270000,1610000,1170000,7200000,100,96000,52000,180000

In [151]:
#make the leapfrog inputs for metals
lf_metals = metals_df
#replace nan w zero
lf_metals = lf_metals.replace(np.nan,0)

#isolate the results
lf_metals = lf_metals.iloc[0:]

#fix mercury non detect
lf_metals['Mercury'] = np.where(lf_metals['Mercury']==0, f'50' + ' U' , lf_metals['Mercury'])
#add mercury LF column
lf_metals['Mercury LF'] = np.where(lf_metals['Mercury']=='50 U', 5 , lf_metals['Mercury'])
# fix Chromium IV nondetect
lf_metals['Chromium IV'] = np.where(lf_metals['Chromium IV']==0, f'500' + ' U' , lf_metals['Chromium IV'])
#add mercury LF column
lf_metals['Chromium IV LF'] = np.where(lf_metals['Chromium IV']=='500 U', 50 , lf_metals['Chromium IV'])

lf_metals

Sample ID,Arsenic,Barium,Cadmium,Chromium,Chromium IV,"Lead, total (calculated)","Lead, fine fraction","Lead, coarse fraction",Manganese,Mercury,Nickel,Vanadium,Zinc,Mercury LF,Chromium IV LF
TP-41,6500,100000,640,930000,4900,65200,99000,64400,18000000,50 U,47000,290000,100000,5,4900
TP-42,3900,140000,1200,500000,500 U,144000,334000,136000,11000000,150,34000,200000,730000,150,50
TP-42.1,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TP-44,27000,82000,1400,190000,500 U,286000,309000,275000,11000000,90,57000,96000,2200000,90,50
TP-46,7200,200000,1100,130000,500 U,232000,320000,200000,6500000,240,29000,58000,240000,240,50
TP-47,4200,110000,2400,87000,500 U,389000,536000,368000,400000,760,63000,9600,220000,760,50
TP-48,3400,14000,140,5200,500 U,6900,33600,6230,190000,50 U,6300,10000,89000,5,50
TP-49,8300,160000,1800,470000,500 U,188000,241000,177000,6100000,200,61000,140000,190000,200,50
TP-51,6200,190000,1900,85000,500 U,232000,305000,215000,900000,420,100000,11000,290000,420,50
TP-52,4800,660000,2200,72000,500 U,596000,404000,614000,970000,530,63000,12000,220000,530,50
TP-53,5800,190000,1300,42000,500 U,47200,70600,42200,610000,230,49000,9000,150000,230,50
TP-54,6700,190000,2400,330000,500 U,276000,359000,261000,8200000,510,98000,75000,2000000,510,50
TP-55,6600,110000,740,270000,500 U,1270000,1610000,1170000,7200000,100,96000,52000,180000,100,50

In [152]:
#make the PCBs df
PCB_df_1 = table_df.iloc[0:1]
PCB_df_2 = table_df.iloc[61:67]
PCB_df = pd.concat([PCB_df_1,PCB_df_2])
# #transpose it
PCB_df = PCB_df.transpose()
#make the first row our column titles
PCB_df.columns=PCB_df.iloc[0]
#drop the duplicate row
PCB_df = PCB_df.tail(-1)
#drop extra info
PCB_df = PCB_df.drop('PCB Extraction Date',axis=1)
PCB_df = PCB_df.drop('PCB Analysis Date',axis=1)
PCB_df = PCB_df.drop('PCB Analytical Method',axis=1)
PCB_df = PCB_df.drop('PCBs',axis=1)
#drop samples with no detections
PCB_df = PCB_df.dropna(thresh=2)
#indicate the nondetects
PCB_df = PCB_df.replace(np.nan,'330 U')

#pull sample id out of index
PCB_df['Sample ID'] = PCB_df.index
#shift column sample ID to first position
first_column = PCB_df.pop('Sample ID')
#insert column using insert(position,column_name,first_column) function
PCB_df.insert(0, 'Sample ID', first_column)

#drop duplicate rows
PCB_df = PCB_df.drop_duplicates(subset=['Sample ID'], keep="first")

#drop extra info
PCB_df = PCB_df.drop(['Sample Depth (ft bgs)'], axis=1)
PCB_df = PCB_df.drop(['Sample ID'], axis=1)

PCB_df

Sample ID Aroclor-1254 Aroclor-1260
TP-41               NT           NT
TP-42               NT           NT
TP-42.1            330          330
TP-44               NT           NT
TP-46               NT           NT
TP-47               NT           NT
TP-48               NT           NT
TP-49               NT           NT
TP-51              330          330
TP-52              330          330
TP-53              330          330
TP-54              330          330
TP-55            330 U         1200

In [153]:
#make the leapfrog inputs for PCBs
lf_PCB = PCB_df

#modify existing columns for leapfrog
lf_PCB['Aroclor-1254'] = np.where(lf_PCB['Aroclor-1254'] == 330 , '330 U' ,lf_PCB['Aroclor-1254'])
lf_PCB['Aroclor-1260'] = np.where(lf_PCB['Aroclor-1260'] == 330, '330 U' ,lf_PCB['Aroclor-1260'])

#add leapfrog input for PCBs
lf_PCB['Aroclor-1254 LF'] = np.where(lf_PCB['Aroclor-1254'] == '330 U', 3.3 ,lf_PCB['Aroclor-1254'])
lf_PCB['Aroclor-1260 LF'] = np.where(lf_PCB['Aroclor-1260'] == '330 U', 3.3 ,lf_PCB['Aroclor-1260'])

lf_PCB

Sample ID Aroclor-1254 Aroclor-1260 Aroclor-1254 LF Aroclor-1260 LF
TP-41               NT           NT              NT              NT
TP-42               NT           NT              NT              NT
TP-42.1          330 U        330 U             3.3             3.3
TP-44               NT           NT              NT              NT
TP-46               NT           NT              NT              NT
TP-47               NT           NT              NT              NT
TP-48               NT           NT              NT              NT
TP-49               NT           NT              NT              NT
TP-51            330 U        330 U             3.3             3.3
TP-52            330 U        330 U             3.3             3.3
TP-53            330 U        330 U             3.3             3.3
TP-54            330 U        330 U             3.3             3.3
TP-55            330 U         1200             3.3            1200

In [157]:
#merge tables
combined_lf= pd.merge(lf_BNA,lf_metals, left_index = True, right_index = True)
combined_lf= pd.merge(combined_lf,lf_PCB, left_index = True, right_index = True)
combined_lf= pd.merge(combined_lf,lf_voc, left_index = True, right_index = True)

#shift depths and date to front of df 
first_column = combined_lf.pop('Start_Depth')
second_column = combined_lf.pop('End_Depth')
third_column = combined_lf.pop('Sample_Date')

#sort columns alphabetically
combined_lf = combined_lf.sort_index(axis = 1, ascending = True)
  
#insert column using insert(position,column_name,first_column) function
combined_lf.insert(0, 'Start_Depth', first_column)
combined_lf.insert(1, 'End_Depth', second_column)
combined_lf.insert(2, 'Sample_Date', third_column)

#setindex name
combined_lf.index.name='Sample_ID'

combined_lf

Sample ID,Start_Depth,End_Depth,Sample_Date,"1,1-Dichloroethane","1,1-Dichloroethane LF","1,2,4-Trimethylbenzene","1,2,4-Trimethylbenzene LF","1,3,5-Trimethylbenzene","1,3,5-Trimethylbenzene LF","2,4-Dimethylphenol",...,Xylene,Xylene LF,Zinc,"cis-1,2-Dichloroethene","cis-1,2-Dichloroethene LF",n-Propylbenzene,n-Propylbenzene LF,sec-Butylbenzene,sec-Butylbenzene LF,tert-Butylbenzene
Sample_ID,,,,,,,,,,,,,,,,,,,,,
TP-41,1,3,2005-09-27,50 U,5,100 U,10,100 U,10,1700 U,...,150 U,15,100000,50 U,5,100 U,10,50 U,5,0
TP-42,0,2,2005-09-27,NT,NT,NT,NT,NT,NT,NT,...,NT,NT,730000,NT,NT,NT,NT,NT,NT,NT
TP-42.1,2,4,2005-09-27,50 U,5,1800,1800,420,420,1700 U,...,1200,1200,NT,50 U,5,150,150,94,94,0
TP-44,0,3,2005-09-23,50 U,5,100 U,10,100 U,10,1700 U,...,150 U,15,2200000,50 U,5,100 U,10,50 U,5,0
TP-46,2,5,2005-09-23,50 U,5,100 U,10,100 U,10,1700 U,...,150 U,15,240000,50 U,5,100 U,10,50 U,5,0
TP-47,7.5,9,2005-09-26,50 U,5,110,110,100 U,10,1700 U,...,260,260,220000,50 U,5,100 U,10,50 U,5,0
TP-48,3,7,2005-09-26,50 U,5,100 U,10,100 U,10,330 U,...,150 U,15,89000,50 U,5,100 U,10,50 U,5,0
TP-49,2,14,2005-09-23,50 U,5,100 U,10,100 U,10,1700 U,...,150 U,15,190000,50 U,5,100 U,10,50 U,5,0
TP-51,2,10,2005-09-23,50 U,5,980,980,100 U,10,1700 U,...,2500,2500,290000,180,180,150,150,130,130,0
TP-52,6,11.5,2005-09-24,50 U,5,150,150,100 U,10,1700 U,...,290,290,220000,50 U,5,160,160,180,180,0
TP-53,2.5,13,2005-09-27,50 U,5,350,350,100 U,10,1700 U,...,1300,1300,150000,120,120,160,160,120,120,0
TP-54,3,12,2005-09-23,50 U,5,100 U,10,100 U,10,1700 U,...,150 U,15,2000000,50 U,5,100 U,10,50 U,5,0
TP-55,0,3,2005-09-24,50 U,5,100 U,10,100 U,10,1700 U,...,150 U,15,180000,50 U,5,100 U,10,50 U,5,0

In [159]:
combined_lf.to_csv('LeapFrog Exports/Pg101.csv')