In [1]:
import pandas as pd
import numpy as np

In [2]:
table = "NTH Soil data 2005_PF.xlsx"

In [4]:
#run this across each sheet of the file
table_df = pd.read_excel(table, sheet_name = 0)
table_df

,Sample ID,TB-N109,Unnamed: 2,Unnamed: 3,TB-N110,Unnamed: 5,Unnamed: 6,TB-N111,Unnamed: 8,Unnamed: 9,...,Unnamed: 33,TB-N119,Unnamed: 35,Unnamed: 36,TB-N120,Unnamed: 38,Unnamed: 39,TB-N121,Unnamed: 41,Unnamed: 42
0,Sample Depth (ft bgs),2.5-5.0,NaN,NaN,8-10,NaN,NaN,8.5-10,NaN,NaN,...,NaN,8-10,NaN,NaN,3-5,NaN,NaN,3-5,NaN,NaN
1,Collection Date,2005-09-27 00:00:00,NaN,NaN,2005-09-27 00:00:00,NaN,NaN,2005-09-27 00:00:00,NaN,NaN,...,NaN,2005-09-23 00:00:00,NaN,NaN,2005-09-22 00:00:00,NaN,NaN,2005-09-24 00:00:00,NaN,NaN
2,VOC Analysis Date,2005-10-06 00:00:00,NaN,NaN,2005-10-06 00:00:00,NaN,NaN,2005-10-04 00:00:00,NaN,NaN,...,NaN,2005-09-30 00:00:00,NaN,NaN,2005-09-30 00:00:00,NaN,NaN,2005-09-30 00:00:00,NaN,NaN
3,VOC Extraction Date,2005-09-27 00:00:00,NaN,NaN,2005-09-27 00:00:00,NaN,NaN,2005-09-27 00:00:00,NaN,NaN,...,NaN,2005-09-23 00:00:00,NaN,NaN,2005-09-22 00:00:00,NaN,NaN,2005-09-24 00:00:00,NaN,NaN
4,VOC Analytical Method,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,...,NaN,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,NT = not tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,PCB = polychlorinated biphenyl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,TB = test boring,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Âµg/kg = microgram per kilogram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,VOC = volatile organic compound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#replace - with NA for dropping purposes
table_df = table_df.replace('â',np.nan)

#fix the unnamed columns

for i in list(range(1,len(table_df.columns),3)):
    
    #rename columns
    newCol1 = str(table_df.columns.tolist()[i])
    newCol2 = str(table_df.columns.tolist()[i])
    table_df.iat[0,i+1]  = table_df.iat[0,i]
    table_df.iat[0,i+2]  = table_df.iat[0,i]
    table_df.iat[1,i+1]  = table_df.iat[1,i]
    table_df.iat[1,i+2]  = table_df.iat[1,i]
    table_df.iat[2,i+1]  = table_df.iat[2,i]
    table_df.iat[2,i+2]  = table_df.iat[2,i]
    table_df.iat[3,i+1]  = table_df.iat[3,i]
    table_df.iat[3,i+2]  = table_df.iat[3,i]
    table_df = table_df.rename(columns = {table_df.columns.to_list()[i+1]:newCol1})
    table_df = table_df.rename(columns = {table_df.columns.to_list()[i+2]:newCol2})
   # print(i)
table_df

,Sample ID,TB-N109,TB-N109,TB-N109,TB-N110,TB-N110,TB-N110,TB-N111,TB-N111,TB-N111,...,TB-N118.1,TB-N119,TB-N119,TB-N119,TB-N120,TB-N120,TB-N120,TB-N121,TB-N121,TB-N121
0,Sample Depth (ft bgs),2.5-5.0,2.5-5.0,2.5-5.0,8-10,8-10,8-10,8.5-10,8.5-10,8.5-10,...,8-10,8-10,8-10,8-10,3-5,3-5,3-5,3-5,3-5,3-5
1,Collection Date,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,...,2005-09-22 00:00:00,2005-09-23 00:00:00,2005-09-23 00:00:00,2005-09-23 00:00:00,2005-09-22 00:00:00,2005-09-22 00:00:00,2005-09-22 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00
2,VOC Analysis Date,2005-10-06 00:00:00,2005-10-06 00:00:00,2005-10-06 00:00:00,2005-10-06 00:00:00,2005-10-06 00:00:00,2005-10-06 00:00:00,2005-10-04 00:00:00,2005-10-04 00:00:00,2005-10-04 00:00:00,...,2005-09-30 00:00:00,2005-09-30 00:00:00,2005-09-30 00:00:00,2005-09-30 00:00:00,2005-09-30 00:00:00,2005-09-30 00:00:00,2005-09-30 00:00:00,2005-09-30 00:00:00,2005-09-30 00:00:00,2005-09-30 00:00:00
3,VOC Extraction Date,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,2005-09-27 00:00:00,...,2005-09-22 00:00:00,2005-09-23 00:00:00,2005-09-23 00:00:00,2005-09-23 00:00:00,2005-09-22 00:00:00,2005-09-22 00:00:00,2005-09-22 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00,2005-09-24 00:00:00
4,VOC Analytical Method,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,...,NaN,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN,SW846 8260B,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,NT = not tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,PCB = polychlorinated biphenyl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,TB = test boring,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Âµg/kg = microgram per kilogram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,VOC = volatile organic compound,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#isolate VOC data
voc_df = table_df.iloc[:22]

##################################################
#transpose it
voc_df = voc_df.transpose()
#make the first row our column titles
voc_df.columns=voc_df.iloc[0]
#drop the duplicate row
voc_df = voc_df.tail(-1)
#drop samples with no detections
voc_df = voc_df.dropna(thresh=4)
##################################################

voc_df.index.name = None

# ###########################################

# #drop VOC details for mergining
voc_df = voc_df.drop('VOC Analysis Date',axis=1)
voc_df = voc_df.drop('VOC Analytical Method',axis=1)
voc_df = voc_df.drop('VOC Extraction Date',axis=1)
voc_df = voc_df.drop('VOCs',axis=1) # bring back for explanation if necessary

#pull sample id out of index
voc_df['Sample ID'] = voc_df.index

#shift column sample ID to first position
first_column = voc_df.pop('Sample ID')
#insert column using insert(position,column_name,first_column) function
voc_df.insert(0, 'Sample ID', first_column)




#drop duplicates and keep the first appearance because those are the detections / tests
voc_df = voc_df.drop_duplicates(subset=['Sample ID'],keep="first")

#split sample depth range into two separate columns
voc_df[['Start_Depth','End_Depth']] = voc_df.get('Sample Depth (ft bgs)').str.split("-",expand=True)

#shift depths to front of df 
first_column = voc_df.pop('Start_Depth')
second_column = voc_df.pop('End_Depth')
  
# insert column using insert(position,column_name,
# first_column) function
voc_df.insert(1, 'Start_Depth', first_column)
voc_df.insert(2, 'End_Depth', second_column)

#drop sample ID and depth range
voc_df = voc_df.drop(['Sample ID'], axis=1)
voc_df = voc_df.drop(['Sample Depth (ft bgs)'], axis=1)

#rename voc columns
voc_df = voc_df.rename(columns = {'Collection Date':'Sample_Date'})

voc_df
#change format of date to eliminate the time?

Sample ID,Start_Depth,End_Depth,Sample_Date,Benzene,n-Butylbenzene,sec-Butylbenzene,Chlorobenzene,"1,1-Dichloroethane","cis-1,2-Dichloroethene",Ethylbenzene,Isopropylbenzene,Naphthalene,n-Propylbenzene,Tetrachloroethylene,Toluene,Trichloroethene,"1,2,4-Trimethylbenzene","1,3,5-Trimethylbenzene",Xylenes
TB-N109,2.5,5.0,2005-09-27 00:00:00,83,210,110,NaN,NaN,NaN,NaN,180,NaN,710,120,160,95,270,NaN,570
TB-N110,8,10,2005-09-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TB-N111,8.5,10,2005-09-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TB-N112,5.5,7.5,2005-09-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4200,NaN,58,NaN,NaN,NaN
TB-N113,5.5,7.5,2005-09-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TB-N114,3.5,4,2005-09-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TB-N115,2.5,4,2005-09-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TB-N116,8,10,2005-09-21 00:00:00,80,300,200,NaN,NaN,NaN,1400,310,570,310,NaN,440,NaN,1900,670,5800
TB-N117,3,4,2005-09-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TB-N118,4,6,2005-09-22 00:00:00,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TB-N118.1,8,10,2005-09-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,NaN,NaN,NaN
TB-N119,8,10,2005-09-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TB-N120,3,5,2005-09-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TB-N121,3,5,2005-09-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#adjust voc_df for leapfrog input
#reformatting the original combined df
lf_voc = voc_df.replace(np.nan,0)

#vocs

lf_voc['Benzene '] = np.where((lf_voc['Benzene '] == 50) |(lf_voc['Benzene '] == 0) , '50 U' , lf_voc['Benzene '] )
lf_voc['Benzene LF'] = np.where(lf_voc['Benzene '] == '50 U' , 5 , lf_voc['Benzene '] )

lf_voc['n-Butylbenzene'] = np.where((lf_voc['n-Butylbenzene'] == 50) |(lf_voc['n-Butylbenzene'] == 0) , '50 U' , lf_voc['n-Butylbenzene'] )
lf_voc['n-Butylbenzene LF'] = np.where(lf_voc['n-Butylbenzene'] == '50 U' , 5 , lf_voc['n-Butylbenzene'] )

lf_voc['sec-Butylbenzene'] = np.where((lf_voc['sec-Butylbenzene'] == 50) |(lf_voc['sec-Butylbenzene'] == 0) , '50 U' , lf_voc['sec-Butylbenzene'] )
lf_voc['sec-Butylbenzene LF'] = np.where(lf_voc['sec-Butylbenzene'] == '50 U' , 5 , lf_voc['sec-Butylbenzene'] )

#not in this data
# lf_voc['Tert-Butylbenzene'] = np.where((lf_voc['tert-Butylbenzene'] == 50) |(lf_voc['tert-Butylbenzene'] == 0) , '50 U' , lf_voc['tert-Butylbenzene'] )
# lf_voc['Tert-Butylbenzene LF'] = np.where(lf_voc['tert-Butylbenzene'] == '50 U' , 5 , lf_voc['tert-Butylbenzene'] )

#not in this data
# lf_voc['Carbon Disulfide'] = np.where((lf_voc['Carbon Disulfide'] == 250) |(lf_voc['Carbon Disulfide'] == 0) , '250 U' , lf_voc['Carbon Disulfide'] )
# lf_voc['Carbon Disulfide LF'] = np.where(lf_voc['Carbon Disulfide'] == '250 U' , 25 , lf_voc['Carbon Disulfide'] )

lf_voc['Chlorobenzene'] = np.where((lf_voc['Chlorobenzene'] == 50) |(lf_voc['Chlorobenzene'] == 0) , '50 U' , lf_voc['Chlorobenzene'] )
lf_voc['Chlorobenzene LF'] = np.where(lf_voc['Chlorobenzene'] == '50 U' , 5 , lf_voc['Chlorobenzene'] )

lf_voc['1,1-Dichloroethane'] = np.where((lf_voc['1,1-Dichloroethane'] == 50) |(lf_voc['1,1-Dichloroethane'] == 0) , '50 U' , lf_voc['1,1-Dichloroethane'] )
lf_voc['1,1-Dichloroethane LF'] = np.where(lf_voc['1,1-Dichloroethane'] == '50 U' , 5 , lf_voc['1,1-Dichloroethane'] )

lf_voc['cis-1,2-Dichloroethene'] = np.where((lf_voc['cis-1,2-Dichloroethene'] == 50) |(lf_voc['cis-1,2-Dichloroethene'] == 0) , '50 U' , lf_voc['cis-1,2-Dichloroethene'] )
lf_voc['cis-1,2-Dichloroethene LF'] = np.where(lf_voc['cis-1,2-Dichloroethene'] == '50 U' , 5 , lf_voc['cis-1,2-Dichloroethene'] )

lf_voc['Ethylbenzene'] = np.where((lf_voc['Ethylbenzene'] == 50) |(lf_voc['Ethylbenzene'] == 0) , '50 U' , lf_voc['Ethylbenzene'] )
lf_voc['Ethylbenzene LF'] = np.where(lf_voc['Ethylbenzene'] == '50 U' , 5 , lf_voc['Ethylbenzene'] )

lf_voc['Isopropylbenzene'] = np.where((lf_voc['Isopropylbenzene'] == 250) | (lf_voc['Isopropylbenzene'] == 0) , '250 U' , lf_voc['Isopropylbenzene'] )
lf_voc['Isopropylbenzene LF'] = np.where(lf_voc['Isopropylbenzene'] == '250 U' , 25 , lf_voc['Isopropylbenzene'] )

lf_voc['Naphthalene'] = np.where((lf_voc['Naphthalene'] == 330) | (lf_voc['Naphthalene'] == 0) , '330 U' , lf_voc['Naphthalene'] )
lf_voc['Naphthalene LF'] = np.where(lf_voc['Naphthalene'] == '330 U' , 33 , lf_voc['Naphthalene'] )

lf_voc['n-Propylbenzene'] = np.where((lf_voc['n-Propylbenzene'] == 100) | (lf_voc['n-Propylbenzene'] == 0) , '100 U' , lf_voc['n-Propylbenzene'] )
lf_voc['n-Propylbenzene LF'] = np.where(lf_voc['n-Propylbenzene'] == '100 U' , 10 , lf_voc['n-Propylbenzene'] )

lf_voc['Tetrachloroethylene'] = np.where((lf_voc['Tetrachloroethylene'] == 50) | (lf_voc['Tetrachloroethylene'] == 0) , '50 U' , lf_voc['Tetrachloroethylene'] )
lf_voc['Tetrachloroethylene LF'] = np.where(lf_voc['Tetrachloroethylene'] == '50 U' , 5 , lf_voc['Tetrachloroethylene'] )

lf_voc['Toluene'] = np.where((lf_voc['Toluene'] == 100) | (lf_voc['Toluene'] == 0) , '100 U' , lf_voc['Toluene'] )
lf_voc['Toluene LF'] = np.where(lf_voc['Toluene'] == '100 U' , 10 , lf_voc['Toluene'] )

lf_voc['Trichloroethene'] = np.where((lf_voc['Trichloroethene'] == 50) | (lf_voc['Trichloroethene'] == 0) , '50 U' , lf_voc['Trichloroethene'] )
lf_voc['Trichloroethene LF'] = np.where(lf_voc['Trichloroethene'] == '50 U' , 5 , lf_voc['Trichloroethene'] )

lf_voc['1,2,4-Trimethylbenzene'] = np.where((lf_voc['1,2,4-Trimethylbenzene'] == 100) | (lf_voc['1,2,4-Trimethylbenzene'] == 0) , '100 U' , lf_voc['1,2,4-Trimethylbenzene'] )
lf_voc['1,2,4-Trimethylbenzene LF'] = np.where(lf_voc['1,2,4-Trimethylbenzene'] == '100 U' , 10 , lf_voc['1,2,4-Trimethylbenzene'] )

lf_voc['1,3,5-Trimethylbenzene'] = np.where((lf_voc['1,3,5-Trimethylbenzene'] == 100) | (lf_voc['1,3,5-Trimethylbenzene'] == 0) , '100 U' , lf_voc['1,3,5-Trimethylbenzene'] )
lf_voc['1,3,5-Trimethylbenzene LF'] = np.where(lf_voc['1,3,5-Trimethylbenzene'] == '100 U' , 10 , lf_voc['1,3,5-Trimethylbenzene'] )

lf_voc['Xylenes'] = np.where((lf_voc['Xylenes'] == 150) | (lf_voc['Xylenes'] == 0) , '150 U' , lf_voc['Xylenes'] )
lf_voc['Xylenes LF'] = np.where(lf_voc['Xylenes'] == '150 U' , 15 , lf_voc['Xylenes'] )

lf_voc

Sample ID,Start_Depth,End_Depth,Sample_Date,Benzene,n-Butylbenzene,sec-Butylbenzene,Chlorobenzene,"1,1-Dichloroethane","cis-1,2-Dichloroethene",Ethylbenzene,...,Ethylbenzene LF,Isopropylbenzene LF,Naphthalene LF,n-Propylbenzene LF,Tetrachloroethylene LF,Toluene LF,Trichloroethene LF,"1,2,4-Trimethylbenzene LF","1,3,5-Trimethylbenzene LF",Xylenes LF
TB-N109,2.5,5.0,2005-09-27,83,210,110,50 U,50 U,50 U,50 U,...,5,180,33,710,120,160,95,270,10,570
TB-N110,8,10,2005-09-27,50 U,50 U,50 U,50 U,50 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TB-N111,8.5,10,2005-09-27,50 U,50 U,50 U,50 U,50 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TB-N112,5.5,7.5,2005-09-26,50 U,50 U,50 U,50 U,50 U,50 U,50 U,...,5,25,33,10,4200,10,58,10,10,15
TB-N113,5.5,7.5,2005-09-26,50 U,50 U,50 U,50 U,50 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TB-N114,3.5,4,2005-09-22,50 U,50 U,50 U,50 U,50 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TB-N115,2.5,4,2005-09-21,50 U,50 U,50 U,50 U,50 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TB-N116,8,10,2005-09-21,80,300,200,50 U,50 U,50 U,1400,...,1400,310,570,310,5,440,5,1900,670,5800
TB-N117,3,4,2005-09-21,50 U,50 U,50 U,50 U,50 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TB-N118,4,6,2005-09-22,NT,NT,NT,NT,NT,NT,NT,...,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TB-N118.1,8,10,2005-09-22,50 U,50 U,50 U,50 U,50 U,50 U,50 U,...,5,25,33,10,5,10,57,10,10,15
TB-N119,8,10,2005-09-23,50 U,50 U,50 U,50 U,50 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TB-N120,3,5,2005-09-22,50 U,50 U,50 U,50 U,50 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15
TB-N121,3,5,2005-09-24,50 U,50 U,50 U,50 U,50 U,50 U,50 U,...,5,25,33,10,5,10,5,10,10,15

In [20]:
#make the BNA df
BNA_df_1 = table_df.iloc[0:1]
#pg 101 is 24:45
BNA_df_2 = table_df.iloc[22:44]
BNA_df = pd.concat([BNA_df_1,BNA_df_2])
#transpose it
BNA_df = BNA_df.transpose()
#make the first row our column titles
BNA_df.columns=BNA_df.iloc[0]
#drop the duplicate row
BNA_df = BNA_df.tail(-1)
#drop BNA details for mergining
BNA_df = BNA_df.drop('BNA Extraction Date',axis=1)
BNA_df = BNA_df.drop('BNA Analysis Date',axis=1)
BNA_df = BNA_df.drop('BNA Analytical Method',axis=1)
BNA_df = BNA_df.drop(['Sample Depth (ft bgs)'], axis=1)
BNA_df = BNA_df.drop('BNAs',axis=1) # if needed- keep for explanation
#drop samples with no detections
BNA_df = BNA_df.dropna(thresh=3)


#pull sample id out of index
BNA_df['Sample ID'] = BNA_df.index

#shift column sample ID to first position
first_column = BNA_df.pop('Sample ID')
#insert column using insert(position,column_name,first_column) function
BNA_df.insert(0, 'Sample ID', first_column)

#save detections
BNA_df = BNA_df.drop_duplicates(subset=['Sample ID'], keep="first")

#drop sample ID since its in index
BNA_df = BNA_df.drop(['Sample ID'], axis=1)

BNA_df

Sample ID,Anthracene,Benzo(a)anthracene,Benzo(b)fluoranthene,Benzo(a)pyrene,"Benzo(g,h,i)perylene",Benzo(k)fluoranthene,Carbazole,Chrysene,2-Cloronaphthalene,Di-n-octyl phthalate,Fluoranthene,"Indeno(1,2,3-cd)pyrene",2-Methylnaphthalene,Bis(2-ethylhexyl)phthalate,Phenol,Di-n-butyl phthalate,Phenanthrene,Pyrene
TB-N109,NaN,NaN,2700,1800,NaN,NaN,NaN,NaN,NaN,NaN,3300,NaN,NaN,NaN,NaN,NaN,2400,3400
TB-N110,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
TB-N111,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
TB-N112,2700,8000,12000,9700,6600,4200,2400,9500,NaN,NaN,21000,5400,NaN,NaN,NaN,NaN,12000,18000
TB-N113,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330
TB-N114,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330
TB-N115,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330
TB-N116,330,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
TB-N117,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330
TB-N118,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TB-N118.1,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
TB-N119,NaN,530,1200,550,400,410,NaN,780,NaN,NaN,1000,440,NaN,NaN,NaN,NaN,360,850
TB-N120,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700,1700
TB-N121,330,330,1700,1700,1700,1700,330,330,330,330,330,330,330,330,330,330,330,330

In [67]:
#make the leapfrog inputs for BNA
lf_BNA = BNA_df.transpose()
#replace nan w zero
lf_BNA = lf_BNA.replace(np.nan,0)

#turn zeros into nondetections
# #fix column TB-N109, 112, 119
lf_BNA['TB-N109'] = np.where(lf_BNA['TB-N109']>0, lf_BNA['TB-N109'],'1700 U')
lf_BNA['TB-N112'] = np.where(lf_BNA['TB-N112']>0, lf_BNA['TB-N112'],'1700 U')
lf_BNA['TB-N119'] = np.where(lf_BNA['TB-N119']>0, lf_BNA['TB-N119'],'330 U')
# lf_BNA['TP-49'] = np.where(lf_BNA['TP-49']>0, lf_BNA['TP-49'],'1700 U')
# lf_BNA['TP-51'] = np.where(lf_BNA['TP-51']>0, lf_BNA['TP-51'],'1700 U')
# lf_BNA['TP-52'] = np.where(lf_BNA['TP-52']>0, lf_BNA['TP-52'],'1700 U')

#add U to the rest of the columns for non-detects
lf_BNA['TB-N110'] = np.where(lf_BNA['TB-N110']!=1700, lf_BNA['TB-N110'],'1700 U')
lf_BNA['TB-N111'] = np.where(lf_BNA['TB-N111']!=1700, lf_BNA['TB-N111'],'1700 U')
lf_BNA['TB-N113'] = np.where(lf_BNA['TB-N113']!=330, lf_BNA['TB-N113'],'330 U')
lf_BNA['TB-N114'] = np.where(lf_BNA['TB-N114']!=330, lf_BNA['TB-N114'],'330 U')
lf_BNA['TB-N115'] = np.where(lf_BNA['TB-N115']!=330, lf_BNA['TB-N115'],'330 U')
lf_BNA['TB-N116'] = np.where(lf_BNA['TB-N116']!=1700, lf_BNA['TB-N116'],'1700 U')
lf_BNA['TB-N117'] = np.where(lf_BNA['TB-N117']!=330, lf_BNA['TB-N117'],'330 U')
lf_BNA['TB-N118.1'] = np.where(lf_BNA['TB-N118.1']!=1700, lf_BNA['TB-N118.1'],'1700 U')
lf_BNA['TB-N120'] = np.where(lf_BNA['TB-N120']!=1700, lf_BNA['TB-N120'],'1700 U')
lf_BNA['TB-N121'] = np.where(lf_BNA['TB-N121']!=330, lf_BNA['TB-N121'],'330 U')

#flip for merging
lf_BNA = lf_BNA.transpose()

#add lf values for BNAs
#added for this dataset
lf_BNA['Anthracene LF'] = np.where(lf_BNA['Anthracene']=='1700 U', 170 ,lf_BNA['Anthracene'])
lf_BNA['Anthracene LF'] = np.where(lf_BNA['Anthracene LF']=='330 U', 33 ,lf_BNA['Anthracene LF'])

lf_BNA['Benzo(a)anthracene LF'] = np.where(lf_BNA['Benzo(a)anthracene']=='1700 U', 170 ,lf_BNA['Benzo(a)anthracene'])
lf_BNA['Benzo(a)anthracene LF'] = np.where(lf_BNA['Benzo(a)anthracene LF']=='330 U', 33 ,lf_BNA['Benzo(a)anthracene LF'])

lf_BNA['Benzo(b)fluoranthene LF'] = np.where(lf_BNA['Benzo(b)fluoranthene']=='1700 U', 170 ,lf_BNA['Benzo(b)fluoranthene'])
lf_BNA['Benzo(b)fluoranthene LF'] = np.where(lf_BNA['Benzo(b)fluoranthene LF']=='330 U', 33 ,lf_BNA['Benzo(b)fluoranthene LF'])

lf_BNA['Benzo(g,h,i)perylene LF'] = np.where(lf_BNA['Benzo(g,h,i)perylene']=='1700 U', 170 ,lf_BNA['Benzo(g,h,i)perylene'])
lf_BNA['Benzo(g,h,i)perylene LF'] = np.where(lf_BNA['Benzo(g,h,i)perylene LF']=='330 U', 33 ,lf_BNA['Benzo(g,h,i)perylene LF'])

lf_BNA['Benzo(a)pyrene LF'] = np.where(lf_BNA['Benzo(a)pyrene']=='1700 U', 170 ,lf_BNA['Benzo(a)pyrene'])
lf_BNA['Benzo(a)pyrene LF'] = np.where(lf_BNA['Benzo(a)pyrene LF']=='330 U', 33 ,lf_BNA['Benzo(a)pyrene LF'])

lf_BNA['Benzo(k)fluoranthene LF'] = np.where(lf_BNA['Benzo(k)fluoranthene']=='1700 U', 170 ,lf_BNA['Benzo(k)fluoranthene'])
lf_BNA['Benzo(k)fluoranthene LF'] = np.where(lf_BNA['Benzo(k)fluoranthene LF']=='330 U', 33 ,lf_BNA['Benzo(k)fluoranthene LF'])

#added for this dataset
lf_BNA['Carbazole LF'] = np.where(lf_BNA['Carbazole']=='1700 U', 170 ,lf_BNA['Carbazole'])
lf_BNA['Carbazole LF'] = np.where(lf_BNA['Carbazole LF']=='330 U', 33 ,lf_BNA['Carbazole LF'])

lf_BNA['Chrysene LF'] = np.where(lf_BNA['Chrysene']=='1700 U', 170 ,lf_BNA['Chrysene'])
lf_BNA['Chrysene LF'] = np.where(lf_BNA['Chrysene LF']=='330 U', 33 ,lf_BNA['Chrysene LF'])

lf_BNA['2-Cloronaphthalene LF'] = np.where(lf_BNA['2-Cloronaphthalene']=='1700 U', 170 ,lf_BNA['2-Cloronaphthalene'])
lf_BNA['2-Cloronaphthalene LF'] = np.where(lf_BNA['2-Cloronaphthalene LF']=='330 U', 33 ,lf_BNA['2-Cloronaphthalene LF'])

#not in this dataset
# lf_BNA['2,4-Dimethylphenol LF'] = np.where(lf_BNA['2,4-Dimethylphenol']=='1700 U', 170 ,lf_BNA['2,4-Dimethylphenol'])
# lf_BNA['2,4-Dimethylphenol LF'] = np.where(lf_BNA['2,4-Dimethylphenol']=='330 U', 33 ,lf_BNA['2,4-Dimethylphenol'])

lf_BNA['Di-n-octyl phthalate LF'] = np.where(lf_BNA['Di-n-octyl phthalate']=='1700 U', 170 ,lf_BNA['Di-n-octyl phthalate'])
lf_BNA['Di-n-octyl phthalate LF'] = np.where(lf_BNA['Di-n-octyl phthalate LF']=='330 U', 33 ,lf_BNA['Di-n-octyl phthalate LF'])

lf_BNA['Fluoranthene LF'] = np.where(lf_BNA['Fluoranthene']=='1700 U', 170 ,lf_BNA['Fluoranthene'])
lf_BNA['Fluoranthene LF'] = np.where(lf_BNA['Fluoranthene LF']=='330 U', 33 ,lf_BNA['Fluoranthene LF'])

lf_BNA['Indeno(1,2,3-cd)pyrene LF'] = np.where(lf_BNA['Indeno(1,2,3-cd)pyrene']=='1700 U', 170 ,lf_BNA['Indeno(1,2,3-cd)pyrene'])
lf_BNA['Indeno(1,2,3-cd)pyrene LF'] = np.where(lf_BNA['Indeno(1,2,3-cd)pyrene LF']=='330 U', 33 ,lf_BNA['Indeno(1,2,3-cd)pyrene LF'])

lf_BNA['2-Methylnaphthalene LF'] = np.where(lf_BNA['2-Methylnaphthalene']=='1700 U', 170 ,lf_BNA['2-Methylnaphthalene'])
lf_BNA['2-Methylnaphthalene LF'] = np.where(lf_BNA['2-Methylnaphthalene LF']=='330 U', 33 ,lf_BNA['2-Methylnaphthalene LF'])

lf_BNA['Bis(2-ethylhexyl)phthalate LF'] = np.where(lf_BNA['Bis(2-ethylhexyl)phthalate']=='1700 U', 170 ,lf_BNA['Bis(2-ethylhexyl)phthalate'])
lf_BNA['Bis(2-ethylhexyl)phthalate LF'] = np.where(lf_BNA['Bis(2-ethylhexyl)phthalate LF']=='330 U', 33 ,lf_BNA['Bis(2-ethylhexyl)phthalate LF'])

lf_BNA['Phenol LF'] = np.where(lf_BNA['Phenol']=='1700 U', 170 ,lf_BNA['Phenol'])
lf_BNA['Phenol LF'] = np.where(lf_BNA['Phenol LF']=='330 U', 33 ,lf_BNA['Phenol LF'])

lf_BNA['Di-n-butyl phthalate LF'] = np.where(lf_BNA['Di-n-butyl phthalate']=='1700 U', 170 ,lf_BNA['Di-n-butyl phthalate'])
lf_BNA['Di-n-butyl phthalate LF'] = np.where(lf_BNA['Di-n-butyl phthalate LF']=='330 U', 33 ,lf_BNA['Di-n-butyl phthalate LF'])

lf_BNA['Phenanthrene LF'] = np.where(lf_BNA['Phenanthrene']=='1700 U', 170 ,lf_BNA['Phenanthrene'])
lf_BNA['Phenanthrene LF'] = np.where(lf_BNA['Phenanthrene LF']=='330 U', 33 ,lf_BNA['Phenanthrene LF'])

lf_BNA['Pyrene LF'] = np.where(lf_BNA['Pyrene']=='1700 U', 170 ,lf_BNA['Pyrene'])
lf_BNA['Pyrene LF'] = np.where(lf_BNA['Pyrene LF']=='330 U', 33 ,lf_BNA['Pyrene LF'])

lf_BNA

Sample ID,Anthracene,Benzo(a)anthracene,Benzo(b)fluoranthene,Benzo(a)pyrene,"Benzo(g,h,i)perylene",Benzo(k)fluoranthene,Carbazole,Chrysene,2-Cloronaphthalene,Di-n-octyl phthalate,...,2-Cloronaphthalene LF,Di-n-octyl phthalate LF,Fluoranthene LF,"Indeno(1,2,3-cd)pyrene LF",2-Methylnaphthalene LF,Bis(2-ethylhexyl)phthalate LF,Phenol LF,Di-n-butyl phthalate LF,Phenanthrene LF,Pyrene LF
Sample_ID,,,,,,,,,,,,,,,,,,,,,
TB-N109,1700 U,1700 U,2700,1800,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,170,170,3300,170,170,170,170,170,2400,3400
TB-N110,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,170,170,170,170,170,170,170,170,170,170
TB-N111,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,170,170,170,170,170,170,170,170,170,170
TB-N112,2700,8000,12000,9700,6600,4200,2400,9500,1700 U,1700 U,...,170,170,21000,5400,170,170,170,170,12000,18000
TB-N113,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,...,33,33,33,33,33,33,33,33,33,33
TB-N114,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,...,33,33,33,33,33,33,33,33,33,33
TB-N115,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,...,33,33,33,33,33,33,33,33,33,33
TB-N116,330,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,170,170,170,170,170,170,170,170,170,170
TB-N117,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,330 U,...,33,33,33,33,33,33,33,33,33,33
TB-N118,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,...,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TB-N118.1,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,170,170,170,170,170,170,170,170,170,170
TB-N119,330 U,530,1200,550,400,410,330 U,780,330 U,330 U,...,33,33,1000,440,33,33,33,33,360,850
TB-N120,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,1700 U,...,170,170,170,170,170,170,170,170,170,170
TB-N121,330 U,330 U,1700,1700,1700,1700,330 U,330 U,330 U,330 U,...,33,33,33,33,33,33,33,33,33,33

In [46]:
#make the metals df
metals_df_1 = table_df.iloc[0:1]
metals_df_2 = table_df.iloc[44:60]
metals_df = pd.concat([metals_df_1,metals_df_2])
# #transpose it
metals_df = metals_df.transpose()
# #make the first row our column titles
metals_df.columns=metals_df.iloc[0]
# #drop the duplicate row
metals_df = metals_df.tail(-1)
#drop metals details for merging
metals_df = metals_df.drop('Metals Analysis Date',axis=1) 
metals_df = metals_df.drop('Analytical Method',axis=1)
metals_df = metals_df.drop('Metals',axis=1) #- keep for explanation
# #drop samples with no detections
metals_df = metals_df.dropna(thresh=2)

#pull sample id out of index
metals_df['Sample ID'] = metals_df.index
#shift column sample ID to first position
first_column = metals_df.pop('Sample ID')
#insert column using insert(position,column_name,first_column) function
metals_df.insert(0, 'Sample ID', first_column)

#drop samples with no detections
metals_df = metals_df.drop_duplicates(subset=['Sample ID'], keep="first")

#drop informational columns for merging
metals_df = metals_df.drop(['Sample ID'], axis=1)
metals_df = metals_df.drop(['Sample Depth (ft bgs)'], axis=1)

############################################
metals_df

Sample ID,Arsenic,Barium,Cadmium,Chromium,Chromium IV,"Lead, total (calculated)","Lead, fine fraction","Lead, coarse fraction",Manganese,Mercury,Nickel,Vanadium,Zinc
TB-N109,10000,440000,6800,81000,NaN,825000,717000,831000,1600000,3200,73000,11000,1700000
TB-N110,670,440000,NaN,17000,NaN,6110,11100,5360,2600000,NaN,3500,6900,7800
TB-N111,7600,200000,1600,59000,NaN,215000,297000,193000,1300000,390,76000,18000,170000
TB-N112,8300,17000,150,7400,NaN,131000,300000,126000,220000,460,9900,8900,31000
TB-N113,1000,56000,470,1200000,NaN,44700,7910,43200,28000000,NaN,17000,430000,110000
TB-N114,29000,62000,2900,310000,NaN,102000,157000,81300,21000000,NaN,85000,650000,590000
TB-N115,1700,10000,NaN,5400,NaN,5270,6230,2000,86000,370,3300,7500,9100
TB-N116,5500,780000,1500,110000,NaN,106000,142000,103000,1300000,630,130000,7300,620000
TB-N117,15000,67000,170,4200,NaN,12200,19000,11300,560000,NaN,13000,7800,33000
TB-N118,2200,120000,240,740000,NaN,17200,29500,13900,29000000,NaN,11000,300000,26000
TB-N118.1,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TB-N119,3600,58000,410,1400000,NaN,20200,69500,13800,29000000,53,29000,680000,39000
TB-N120,8600,230000,1700,470000,NaN,129000,188000,106000,8200000,110,39000,120000,320000
TB-N121,31000,100000,3000,530000,NaN,304000,357000,276000,13000000,120,52000,250000,540000

In [47]:
#make the leapfrog inputs for metals
lf_metals = metals_df
#replace nan w zero
lf_metals = lf_metals.replace(np.nan,0)

#isolate the results
lf_metals = lf_metals.iloc[0:]

#fix mercury non detect
lf_metals['Mercury'] = np.where(lf_metals['Mercury']==0, f'50' + ' U' , lf_metals['Mercury'])
#add mercury LF column
lf_metals['Mercury LF'] = np.where(lf_metals['Mercury']=='50 U', 5 , lf_metals['Mercury'])
# fix Chromium IV nondetect
lf_metals['Chromium IV'] = np.where(lf_metals['Chromium IV']==0, f'500' + ' U' , lf_metals['Chromium IV'])
#add mercury LF column
lf_metals['Chromium IV LF'] = np.where(lf_metals['Chromium IV']=='500 U', 50 , lf_metals['Chromium IV'])

lf_metals

Sample ID,Arsenic,Barium,Cadmium,Chromium,Chromium IV,"Lead, total (calculated)","Lead, fine fraction","Lead, coarse fraction",Manganese,Mercury,Nickel,Vanadium,Zinc,Mercury LF,Chromium IV LF
TB-N109,10000,440000,6800,81000,500 U,825000,717000,831000,1600000,3200,73000,11000,1700000,3200,50
TB-N110,670,440000,0,17000,500 U,6110,11100,5360,2600000,50 U,3500,6900,7800,5,50
TB-N111,7600,200000,1600,59000,500 U,215000,297000,193000,1300000,390,76000,18000,170000,390,50
TB-N112,8300,17000,150,7400,500 U,131000,300000,126000,220000,460,9900,8900,31000,460,50
TB-N113,1000,56000,470,1200000,500 U,44700,7910,43200,28000000,50 U,17000,430000,110000,5,50
TB-N114,29000,62000,2900,310000,500 U,102000,157000,81300,21000000,50 U,85000,650000,590000,5,50
TB-N115,1700,10000,0,5400,500 U,5270,6230,2000,86000,370,3300,7500,9100,370,50
TB-N116,5500,780000,1500,110000,500 U,106000,142000,103000,1300000,630,130000,7300,620000,630,50
TB-N117,15000,67000,170,4200,500 U,12200,19000,11300,560000,50 U,13000,7800,33000,5,50
TB-N118,2200,120000,240,740000,500 U,17200,29500,13900,29000000,50 U,11000,300000,26000,5,50
TB-N118.1,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
TB-N119,3600,58000,410,1400000,500 U,20200,69500,13800,29000000,53,29000,680000,39000,53,50
TB-N120,8600,230000,1700,470000,500 U,129000,188000,106000,8200000,110,39000,120000,320000,110,50
TB-N121,31000,100000,3000,530000,500 U,304000,357000,276000,13000000,120,52000,250000,540000,120,50

In [51]:
#make the PCBs df
PCB_df_1 = table_df.iloc[0:1]
PCB_df_2 = table_df.iloc[60:65]
PCB_df = pd.concat([PCB_df_1,PCB_df_2])
# #transpose it
PCB_df = PCB_df.transpose()
#make the first row our column titles
PCB_df.columns=PCB_df.iloc[0]
#drop the duplicate row
PCB_df = PCB_df.tail(-1)
#drop extra info
PCB_df = PCB_df.drop('PCB Extraction Date',axis=1)
PCB_df = PCB_df.drop('PCB Analysis Date',axis=1)
PCB_df = PCB_df.drop('PCB Analytical Method',axis=1)
PCB_df = PCB_df.drop('PCBs',axis=1)
#drop samples with no detections
PCB_df = PCB_df.dropna(thresh=2)
#indicate the nondetects
PCB_df = PCB_df.replace(np.nan,'330 U')

#pull sample id out of index
PCB_df['Sample ID'] = PCB_df.index
#shift column sample ID to first position
first_column = PCB_df.pop('Sample ID')
#insert column using insert(position,column_name,first_column) function
PCB_df.insert(0, 'Sample ID', first_column)

#drop duplicate rows
PCB_df = PCB_df.drop_duplicates(subset=['Sample ID'], keep="first")

#drop extra info
PCB_df = PCB_df.drop(['Sample Depth (ft bgs)'], axis=1)
PCB_df = PCB_df.drop(['Sample ID'], axis=1)

PCB_df

Sample ID Aroclors
TB-N109         NT
TB-N110         NT
TB-N111         NT
TB-N112         NT
TB-N113         NT
TB-N114         NT
TB-N115         NT
TB-N116        330
TB-N117         NT
TB-N118         NT
TB-N118.1       NT
TB-N119         NT
TB-N120         NT
TB-N121         NT

In [53]:
#make the leapfrog inputs for PCBs
lf_PCB = PCB_df

#modify existing columns for leapfrog
#only general Aroclors for this data
lf_PCB['Aroclors'] = np.where(lf_PCB['Aroclors'] == 330 , '330 U' ,lf_PCB['Aroclors'])
#lf_PCB['Aroclor-1254'] = np.where(lf_PCB['Aroclor-1254'] == 330 , '330 U' ,lf_PCB['Aroclor-1254'])
#lf_PCB['Aroclor-1260'] = np.where(lf_PCB['Aroclor-1260'] == 330, '330 U' ,lf_PCB['Aroclor-1260'])

#add leapfrog input for PCBs
lf_PCB['Aroclors LF'] = np.where(lf_PCB['Aroclors'] == '330 U' , 3.3 ,lf_PCB['Aroclors'])
# lf_PCB['Aroclor-1254 LF'] = np.where(lf_PCB['Aroclor-1254'] == '330 U', 3.3 ,lf_PCB['Aroclor-1254'])
# lf_PCB['Aroclor-1260 LF'] = np.where(lf_PCB['Aroclor-1260'] == '330 U', 3.3 ,lf_PCB['Aroclor-1260'])

lf_PCB

Sample ID Aroclors Aroclors LF
TB-N109         NT          NT
TB-N110         NT          NT
TB-N111         NT          NT
TB-N112         NT          NT
TB-N113         NT          NT
TB-N114         NT          NT
TB-N115         NT          NT
TB-N116        3.3         3.3
TB-N117         NT          NT
TB-N118         NT          NT
TB-N118.1       NT          NT
TB-N119         NT          NT
TB-N120         NT          NT
TB-N121         NT          NT

In [68]:
#merge tables
combined_lf= pd.merge(lf_BNA,lf_metals, left_index = True, right_index = True)
combined_lf= pd.merge(combined_lf,lf_PCB, left_index = True, right_index = True)
combined_lf= pd.merge(combined_lf,lf_voc, left_index = True, right_index = True)

#shift depths and date to front of df 
first_column = combined_lf.pop('Start_Depth')
second_column = combined_lf.pop('End_Depth')
third_column = combined_lf.pop('Sample_Date')

#sort columns alphabetically
combined_lf = combined_lf.sort_index(axis = 1, ascending = True)
  
#insert column using insert(position,column_name,first_column) function
combined_lf.insert(0, 'Start_Depth', first_column)
combined_lf.insert(1, 'End_Depth', second_column)
combined_lf.insert(2, 'Sample_Date', third_column)

#setindex name
combined_lf.index.name='Sample_ID'

combined_lf

Sample ID,Start_Depth,End_Depth,Sample_Date,"1,1-Dichloroethane","1,1-Dichloroethane LF","1,2,4-Trimethylbenzene","1,2,4-Trimethylbenzene LF","1,3,5-Trimethylbenzene","1,3,5-Trimethylbenzene LF",2-Cloronaphthalene,...,Xylenes LF,Zinc,"cis-1,2-Dichloroethene","cis-1,2-Dichloroethene LF",n-Butylbenzene,n-Butylbenzene LF,n-Propylbenzene,n-Propylbenzene LF,sec-Butylbenzene,sec-Butylbenzene LF
Sample_ID,,,,,,,,,,,,,,,,,,,,,
TB-N109,2.5,5.0,2005-09-27,50 U,5,270,270,100 U,10,1700 U,...,570,1700000,50 U,5,210,210,710,710,110,110
TB-N110,8,10,2005-09-27,50 U,5,100 U,10,100 U,10,1700 U,...,15,7800,50 U,5,50 U,5,100 U,10,50 U,5
TB-N111,8.5,10,2005-09-27,50 U,5,100 U,10,100 U,10,1700 U,...,15,170000,50 U,5,50 U,5,100 U,10,50 U,5
TB-N112,5.5,7.5,2005-09-26,50 U,5,100 U,10,100 U,10,1700 U,...,15,31000,50 U,5,50 U,5,100 U,10,50 U,5
TB-N113,5.5,7.5,2005-09-26,50 U,5,100 U,10,100 U,10,330 U,...,15,110000,50 U,5,50 U,5,100 U,10,50 U,5
TB-N114,3.5,4,2005-09-22,50 U,5,100 U,10,100 U,10,330 U,...,15,590000,50 U,5,50 U,5,100 U,10,50 U,5
TB-N115,2.5,4,2005-09-21,50 U,5,100 U,10,100 U,10,330 U,...,15,9100,50 U,5,50 U,5,100 U,10,50 U,5
TB-N116,8,10,2005-09-21,50 U,5,1900,1900,670,670,1700 U,...,5800,620000,50 U,5,300,300,310,310,200,200
TB-N117,3,4,2005-09-21,50 U,5,100 U,10,100 U,10,330 U,...,15,33000,50 U,5,50 U,5,100 U,10,50 U,5
TB-N118,4,6,2005-09-22,NT,NT,NT,NT,NT,NT,NT,...,NT,26000,NT,NT,NT,NT,NT,NT,NT,NT
TB-N118.1,8,10,2005-09-22,50 U,5,100 U,10,100 U,10,1700 U,...,15,NT,50 U,5,50 U,5,100 U,10,50 U,5
TB-N119,8,10,2005-09-23,50 U,5,100 U,10,100 U,10,330 U,...,15,39000,50 U,5,50 U,5,100 U,10,50 U,5
TB-N120,3,5,2005-09-22,50 U,5,100 U,10,100 U,10,1700 U,...,15,320000,50 U,5,50 U,5,100 U,10,50 U,5
TB-N121,3,5,2005-09-24,50 U,5,100 U,10,100 U,10,330 U,...,15,540000,50 U,5,50 U,5,100 U,10,50 U,5

In [69]:
combined_lf.to_csv('LeapFrog Exports/Pg95.csv')